body {
	font-family: "San Francisco", "Roboto", "Segoe UI";
}

[contenteditable=true]:empty:before{
  content: attr(data-placeholder);
  display: block; /* For Firefox */
}

div.title[contenteditable=true] {
  padding: 5px;
  margin: 0 5px;
  font-size: 32px;
  font-weight: bold;
}

.buttons {
	float: right;
}

.editor {
	margin: 5px;
	padding: 5px;
	border: 1px dashed #AAA;
}

.editorInner {
	margin: 0 10px;
}

.main {
	width: 70%;
	max-width: 850px;
	margin: 2em auto;
}

.button {
  margin-top: 5em;
  margin-left: 5px;
  display: inline-block;
}