body {
    font-family: "San Francisco", "Roboto", "Segoe UI";
}

a {
  color: inherit;
  text-decoration: inherit;
}

.mainPage {
    margin: 2em auto;
    width: 70%;
    max-width: 850px;
}

.buttonLeft {
    position: absolute;
}

.buttonRight {
    position: absolute;
    float: right;
}

.buttons {
    position: relative;
}