body {
    font-family: "San Francisco", "Roboto", "Segoe UI";
}

a {
  color: inherit;
  text-decoration: inherit;
}

.buttonLeft {
    position: absolute;
}

.buttonRight {
    position: absolute;
    float: right;
}

.buttons {
    position: relative;
}
