body {
	font-family: "San Francisco", "Roboto", "Segoe UI";
}
[contenteditable=true]:empty:before{
  content: attr(data-placeholder);
  display: block; /* For Firefox */
}

h1[contenteditable=true] {
  padding: 5px;
  margin: 0 5px;
}

.button {
    height: auto;
    min-width: 3em;
    background-color: #EAEAEA;
    border-radius: 5px;
    font-weight: 500;
    text-align: center;
    padding: 10px;
    cursor: pointer;
    margin-top: 5em;
	margin-left: 5px;
	display: inline-block;
}

.buttons {
	float: right;
}

.editor {
	margin: 5px;
	padding: 5px;
	border: 1px dashed #AAA;
}

.editorInner {
	margin: 0 10px;
}

.main {
	width: 70%;
	max-width: 850px;
	margin: 2em auto;
}